In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('sales.csv')
df.head()

    rate  sales_in_first_month  sales_in_second_month  sales_in_third_month
0    NaN                     2                    500                   300
1    NaN                     4                    300                   650
2   four                   600                    200                   400
3   nine                   450                    320                   650
4  seven                   600                    250                   350

In [3]:
df['rate'].fillna(0, inplace=True)

df['sales_in_first_month'].fillna(df['sales_in_first_month'].mean(), inplace=True)

In [4]:
df.head()

    rate  sales_in_first_month  sales_in_second_month  sales_in_third_month
0      0                     2                    500                   300
1      0                     4                    300                   650
2   four                   600                    200                   400
3   nine                   450                    320                   650
4  seven                   600                    250                   350

In [5]:
X = df.iloc[:, :3]

def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['rate'] = X['rate'].apply(lambda x : convert_to_int(x))

y = df.iloc[:, -1]

print('X : \n', X)
print('\n\ny :\n', y)

X :
    rate  sales_in_first_month  sales_in_second_month
0     0                     2                    500
1     0                     4                    300
2     4                   600                    200
3     9                   450                    320
4     7                   600                    250
5     5                   550                    200


y :
 0    300
1    650
2    400
3    650
4    350
5    700
Name: sales_in_third_month, dtype: int64

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

regressor.fit(X, y)

pickle.dump(regressor, open('model.pkl','wb'))

model = pickle.load(open('model.pkl','rb'))
print(model.predict([[4, 300, 500]]))

[143.3072588]

In [7]:
import numpy as np
from flask import Flask, request, jsonify, render_template
import pickle

In [8]:
app = Flask(__name__)
model = pickle.load(open('model.pkl', 'rb'))

In [9]:
@app.route('/')
def home():
    return render_template('index.html')

In [10]:
@app.route('/predict',methods=['POST'])
def predict():

    int_features = [int(x) for x in request.form.values()]
    final_features = [np.array(int_features)]
    prediction = model.predict(final_features)

    output = round(prediction[0], 2)

    return render_template('index.html', prediction_text='Sales should be $ {}, int_features : {}'.format(output,int_features))

In [11]:
@app.route('/results',methods=['POST'])
def results():

    data = request.get_json(force=True)
    prediction = model.predict([np.array(list(data.values()))])

    output = prediction[0]
    return jsonify(output)

if __name__ == "__main__":
    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: 1

/Users/vipulgaur/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)